# Binaries for Debian
*
!*/
!*.*

# Binaries for programs and plugins
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# For node
node_modules
/dist
npm-debug.log*


# "Always use a slice.", Dave Cheney
